<%- include('../includes/head.ejs') %>
    </head>
    <body>
<%- include('../includes/navigation.ejs') %>
    <% if (cart.products.length > 0) {%>
        <ul>
            <% for (let product of cart.products) {%>
                <li>
                    <p><%= product.title%> (<%= product.quantity%>)</p>
                    <form method="POST" action="/cart-delete-item">
                        <input type="text" value="<%= product.id %>" name="id" hidden>
                        <button type="submit" class="btn">Delete</button>
                    </form>
                </li>
            <%} %>
        </ul>
    <%} else { %>
        <p>No Products in Cart</p>
    <%} %>
<%- include('../includes/end.ejs') %>